<!DOCTYPE html>
<html>
<head>
  <title>Benchmark</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

  <div class="container">

    <h1>BenchmarkJS</h1>

    <form class="form-horizontal" action="" method="post">

      <div class="form-group">
        <label for="function1" class="col-xs-12">Function 1 <span id="result1"></span></label>
        <div class="col-xs-12">
          <textarea id="function1" name="function1" class="form-control" ><%= function1 %></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="function2" class="col-xs-12">Function 2 <span id="result2"></span></label>
        <div class="col-xs-12">
          <textarea id="function2" name="function2" class="form-control"><%= function2 %></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>

  </div>

  <script src="static/bower_components/benchmark/benchmark.js"></script>
  
  <% if (function1) { %>

  <script>

    var suite = new Benchmark.Suite;

    suite
    .add('Function1', function() {
      <%- function1 %>
    }, {
      onComplete: function(event) {
        document.getElementById("result1").innerHTML = String(event.target);
      }
    })
    .add('Function2', function() {
      <%- function2 %>
    }, {
      onComplete: function(event) {
        document.getElementById("result2").innerHTML = String(event.target);
      }
    })

    .on('cycle', function(event) {
      
    })

    .on('complete', function() {
      var elem;
      if (this.filter('fastest').pluck('name') === 'Function1') {
        elem = document.getElementById("result1");
      } else {
        elem = document.getElementById("result2");
      }
      elem.innerHTML += " - FASTEST";
      elem.style.color = 'green';
    })

    .run({
      'async': true
    });

  </script>

  <% } %>

</body>
</html>